.footer {
  height: 6rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: medium;
  background-color: $sections-bg-color;

  a {
    margin: 0 3rem;
  }

  &_links,
  &_copywrite {
    display: flex;
    flex-direction: row-reverse;
  }
}

[name='copyright']{
    margin-left: 2rem;
    margin-top: 0.3rem;
}