.secondSec_container {
  position: relative;
  margin-top: 10rem;
  display: flex;
  flex-direction: row;
  height: $sectionHight;
  text-align: right;
  align-items: flex-start;
  padding: $section-padding;

  &--text {
    width: 40%;

    &--1 {
      padding: 8rem 0 6rem;
    }

    h2 {
      font-size: $subTitle-fontSize;
      font-weight: $mainTitle-fontWeight;
      margin: 3rem 0 3rem;
    }

    p {
      font-size: $subText-fontSize;
      font-weight: $subText-fontWeight;
    }
  }

  &--img {
    position: relative;
    text-align: center;
    width: 60%;
    animation: slideImages 2s ease-in-out forwards;
    overflow: hidden;
    
    img {
      position: relative;
      width: 100%;
      height: 100%;
      display: block;
      height: 72rem;
    }
  }
}

.tall_drawing,
.svg-v2_g {
  position: absolute;
  // top: 50%;
  transform: translateY(-50%);
  opacity: 0;
}

.tall_drawing {
  left: 0%;
}

.svg-v2_g {
  right: 0%;
  // position: absolute;
  // height: 100%;
  display: block;
  height: 50rem;
  width: auto;
  bottom: 65rem;
  z-index: -1;
}

.animate-left {
  animation: slideFromLeft 3s ease forwards;
}

.animate-right {
  animation: slideFromRight 3s ease forwards;
}

@keyframes slideFromLeft {
  0% {
    left: 0;
    opacity: 0;
  }
  100% {
    left: 100%;
    opacity: 1;
  }
}

@keyframes slideFromRight {
  0% {
    right: 0;
    opacity: 0;
  }
  100% {
    right: 100%;
    opacity: 1;
  }
}
