.info_main_container {
  margin-top: 10rem;
  padding: 5rem 1rem;
  background-color: $sections-bg-color;
}

.info_title {
  font-size: $subTitle-fontSize;
  font-weight: $mainTitle-fontWeight;
  margin-bottom: 5rem;
  text-align: right;
  margin-right: 4rem;
}

.info_container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: right;
  margin-right: 4rem;

  &--1,
  &--2,
  &--3 {
    position: relative;
    padding: 3rem;
    margin-left: 4rem;
    margin-bottom: 4rem;
    width: 30%;
    background-color: $color-secondery-clear;
    z-index: 1;
    border-radius: 25px;

    box-shadow: 0 0.5rem 1rem rgba($color-primary-clear, 0.4);

    h3 {
      font-size: 3rem;
      font-weight: calc($subText-fontWeight * 1.5);
      margin: 1.5rem 0 1.5rem;
    }

    p {
      font-size: $subText-fontSize;
    }
  }
}

.info_container box-icon {
  height: 4rem;
  width: 4rem;
  background-color: #fff;
  padding: 0.5rem;
  border-radius: 25px;
}

.decorated-text {
  text-decoration: underline;
  font-weight: bold;
  font-style: italic;
  text-decoration-thickness: 6px;
  text-decoration-color: $color-primary-clear;
  text-decoration-skip-ink: none;
}
