*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* defulat font-size is 16px
  we want 10px but in % 
  10/16 = 0.625 == 62.5% 
  This defines what 1rem is */
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  margin: 0;
  font-family: $fontStyle;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  direction: rtl;
}
