$color-primary: #ff6f58;
$color-primary-clear: #ff6e58;
$color-secondery: #03989e;
$color-secondery-clear: #03999e9d;

$sections-bg-color: azure;

$mainTitle-fontSize: 6rem;
$subTitle-fontSize: 4rem;
$subText-fontSize: 2rem;

$mainTitle-fontWeight: 700;
$subText-fontWeight: 400;

$fontStyle: Arimo, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
  "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;

$sectionHight: 95vh;

$section-padding: 0 5rem 0;
