.nav-container {
  ul {
    list-style-type: none;
    display: flex;
    flex-direction: row-reverse;
    justify-content: right;

    .navigation_a {
      &:link,
      &:visited {
        text-decoration: none;
        font-size: 2rem;
        color: black;
        margin: 1rem 0 0 16rem;
        text-align: right;
        color: gray;

        &:hover {
          color: $color-primary;
        }
      }
    }
  }
}
